[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	update = none
[submodule "external/JoltPhysics"]
	path = external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/nelarius/imnodes.git
[submodule "*"]
	update = none
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/imgui_colortextedit"]
	path = external/imgui_colortextedit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "external/recastnavigation"]
	path = external/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
