# ==========================
# Build output
# ==========================
/out/
/Builds/
/build/
/bin/
/obj/

# ==========================
# External dependencies
# ==========================
/external/*
!/external/imgui/
!/external/imgui/**
!/external/ImGuizmo/
!/external/ImGuizmo/**
!/external/recastnavigation/
!/external/recastnavigation/**

# ==========================
# C# project build output
# ==========================
/managed/ClaymoreEngine/bin/
/managed/ClaymoreEngine/obj/
/managed/ScriptCompiler/bin/
/managed/ScriptCompiler/obj/

 managed/Modules/*/obj/
 managed/Modules/*/bin/

# Track .cs files, ignore binaries
!managed/ClaymoreEngine/*.cs
!managed/ScriptCompiler/*.cs


# ==========================
# Editor & IDE clutter
# ==========================
*.user
*.suo
*.sdf
*.cache
*.meta
*.db
*.VC.db
*.log
*.skelbin
*.meshbin
*.avatar
.vscode/
.vs/

# ==========================
# Engine-generated stuff
# ==========================
*.dll
*.pdb
*.lib
*.exp
*.ilk

# ==========================
# Project binary cache
# ==========================
# .bin/ contains generated binary assets for play mode (.sceneb, .matbin, etc.)
.bin/
.library/

# ==========================
# Temporary & misc
# ==========================
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# ==========================
# ClayProject files
# ==========================
/ClayProject/dist/
